// 各Stulusの変数
// z-index
$alertZ = 15;
$loadingZ = 10;
$modalZ = 9;
// Color
$TopPagePrimaryColor = #dd9299;
$primaryColor = #474747;
$subPrimaryColor = alpha($primaryColor, 0.5);
$sectionBackgroundColor = $boundaryBlack;
$borderMainColor = #D2D2D2;
$borderDarkColor = #CCCCCC;
$modalBackgroundColor = #474747;
$thinText = #464646
$grayText = alpha(#000, 0.5);
$infoColor=#4c4c4c;
$warningColor=yellow;
$errorColor=#e9bcbd + rgb(100, 0, 0) - rgb(0, 50, 50);
// fontColor
$warningFontColor = #eb6877;
$noticebleFontColor = #dddddd;
$plainFontColor = #cccccc;
$supplementTextColor = alpha(#000, 0.5);

// Padding
$layoutPadding = 1.3em;
$defaultLayoutPadding = 1em;
$cardPaddingPC=1.3rem;
$cardPaddingSP=1.3rem;
$topPaddingPC=3rem 0;

// Margin
$homeTitleMargin = 1.5em
$sectionMargin = 1em;
$modalMargin = 1em;
$pcArticleKVMargin = 3em 0;

// fontSize
$homeTitleFontsize = 24px;
$selectBoxFontSize = 20px;
$sectionDefaultFontSize = 16px;
$reservationIDFontsize = 18px
$titleFontSize = 14px;
$defaultFontSize = 12px;
$mostSmallFontSize = 10px;
$articleTitle = 28px;

// header
$headerHeight = 64px;

// SP Content
$maxWidth = 950px;
$maxWidthSP = 500px;

// Article
$articleMaxWidth = 45rem;


//color
$white = #ffffff;
$black = #000000;
$boundaryBlack = rgba(0, 0, 0, 0.10);
$boundaryWhite = rgba(255, 255, 255, 0.75);
$gray = #919191;
$whiteGray = #E1DECD

// atoms
// button
$button_primary_base {
    display: flex;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    cursor: pointer;

    &:disabled {
        background-color: rgba(0, 0, 0, 0.16);
    }
}


