// bookingSTEPのヘッダー
$bookingStepHead {
    text-align: center;
    padding: 20px 0;
    border-bottom: solid 1px $boundaryBlack;
    @media only screen and (max-width: 1023px) {
        padding: 12px 0;
    }

	.left_arrow {
        cursor: pointer;
        position: absolute;
        top: 30px;
        left: 5%;
        @media only screen and (max-width: 1023px) {
            top: 20px;
        }
  }
}