// pages/Roomリスト && pages/Planリスト
$pageList  {
    width: 805px;
    margin: 35px auto 120px;
    @media only screen and (max-width: 1023px) {
        margin: 30px 5% 80px;
        width: 90%;
    }
    // .page_contens_container {
    //     display: flex;
    //     justify-content: space-between;
    //     margin: 50px 0 200px;
    //     @media only screen and (max-width: 1023px) {
    //         display: block;
    //         margin: 0px 0 80px;
    //         width: 100%;
    //     }
    //     .page_contents {
    //         // width: 630px
    //         @media only screen and (max-width: 1023px) {
    //             width: 90%;
    //             margin: 0 5%;
    //         }
    //     }
        // メニューなし
        // .page_reservation_container.with_menu.no_head {
        //     width: 332px;
        //     height: calc(100vh - 65px);
        //     position: sticky;
        //     top: 50px;
        //     @media only screen and (max-width: 1023px) {
        //         position: static;
        //         height: 100%;
        //         background-color: $white;
        //         margin: 0px;
        //         width: 90%;
        //         padding: 0 5%;
        //     }
        // }
        // // ヘッダーあり
        // .page_reservation_container.with_head.with_menu {
        //     width: 332px;
        //     height: calc(100vh - 176px);
        //     position: sticky;
        //     top: 50px;
        //     @media only screen and (max-width: 1023px) {
        //         position: static;
        //         height: 100%;
        //         background-color: $white;
        //         margin: 0px;
        //         width: 90%;
        //         padding: 0 5%;
        //     }
        // }
    // }
}